@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to My ASP.NET MVC Application</h1>
<p>This is the home page of your application.</p>

<div>
    <p>Here you can add more content or features as needed.</p>
</div>